.side-bar {
  width: 12%;
  display: flex;
  align-items: start;
  justify-content: center;
  padding-top: 1%;
}

.side-bar img {
  height: 3vh;
}

.side-bar button {
  background: rgba(0, 0, 0, 0);
  border: none;
}
