.warrior1 .char img {
  height: 60%;
}
.warrior2 .char img {
  height: 82%;
  width: 150%;
  padding-right: 25%;
}

.darkMage1 .char img {
  height: 57%;
}
.darkMage2 .char img {
  height: 75%;
}

.rogue1 .char img {
  height: 60%;
}
.rogue2 .char img {
  height: 72%;
}

.priest1 .char img {
  height: 65%;
}
.priest2 .char img {
  height: 68%;
}

.fireMage1 .char img {
  height: 60%;
}
.fireMage2 .char img {
  height: 73%;
}

.werewolf1 .char img {
  height: 50%;
}
.werewolf2 .char img {
  height: 90%;
  width: 140%;
}

.jester1 .char img {
  height: 70%;
}
.jester2 .char img {
  height: 75%;
  padding-right: 25%;
}

.infectado1 .char img {
  height: 70%;
}
.infectado2 .char img {
  height: 85%;
}

.batedor1 .char img {
  height: 55%;
  width: 90%;
}
.batedor2 .char img {
  height: 85%;
  width: 130%;
  padding-right: 10%;
}
