.guerreiro1 .char img {
  height: 60%;
}
.guerreiro2 .char img {
  height: 80%;
  width: 135%;
}

.mago1 .char img {
  height: 57%;
}
.mago2 .char img {
  height: 75%;
}

.ladino1 .char img {
  height: 60%;
}
.ladino2 .char img {
  height: 70%;
}

.piromante1 .char img {
  height: 60%;
}
.piromante2 .char img {
  height: 73%;
}

.amaldicoado1 .char img {
  height: 50%;
}
.amaldicoado2 .char img {
  height: 75%;
  width: 120%;
}

.goblin1 .char img {
  height: 60%;
  width: 100%;
}
.goblin2 .char img {
  height: 85%;
  width: 120%;
}

.infectado1 .char img {
  height: 70%;
}
.infectado2 .char img {
  height: 75%;
}
