.wrapper {
  width: 27%;
  height: 100%;
  padding: 0.2%;
  border-radius: 10px;

  background: var(--shiny-color);
  animation: gradient 3s ease infinite;
  background-size: 400% 400%;
  border: none;
}

.wrapper:hover {
  cursor: pointer;
  background: var(--shiny-hover-color);
  animation: gradient 6s ease infinite;
  background-size: 400% 400%;
  padding: 0.35%;
}

.wrapper:focus {
  background: var(--silver-color);
  animation: gradient 1s ease infinite;
  background-size: 400% 400%;
  box-shadow: 0px 0px 10px 2px var(--silver-color);
  padding: 0.35%;
}

.char-card {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
}

.background,
.char,
.frame,
.description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.background {
  z-index: 1;
  border-radius: 10px;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.char {
  z-index: 2;
  animation: shake 0.8s infinite;
}
