.arrow {
  width: 8%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.arrow img {
  height: 12vh;
  cursor: pointer;
}

.arrow img:hover {
  height: 14vh;
  cursor: pointer;
}
