:root {
  --silver-color: #c0c0c0;
  --dark-silver-color: #5b5b5b;
  --dark-blue-color: rgba(10, 15, 41, 0.8);
  --dark-blue-hover-color: rgba(10, 15, 41, 0.5);
  --shiny-color: linear-gradient(
    -135deg,
    var(--dark-blue-color),
    var(--dark-silver-color)
  );
  --shiny-hover-color: linear-gradient(
    -135deg,
    var(--dark-silver-color),
    var(--silver-color)
  );
}
