* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

.mainscreen {
  height: 100vh;
  width: 100%;
  background: black;
  background-image: url('../../public/images/background/background.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.icon {
  transition: 0.3s;
  filter: brightness(0) saturate(100%) invert(80%) sepia(0%) saturate(0%)
    hue-rotate(0deg) brightness(95%) contrast(95%);
}

.icon:hover {
  filter: brightness(0) saturate(100%) invert(80%) sepia(0%) saturate(0%)
    hue-rotate(0deg) brightness(110%) contrast(95%);
}
