.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title label {
  display: inline-block;
  animation-delay: calc(0.2s * var(--i));
  -webkit-text-stroke: 0.2px var(--dark-blue-color);
  font-size: 6rem;
  letter-spacing: 0.9rem;
  animation: flip 5s infinite;
}
