.start {
  width: 25%;
  height: 100vh;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;

  padding-top: 10%;
  padding-bottom: 5%;
}

.start div {
  width: 100%;
  height: 15%;
}
