.battle {
  justify-content: space-between !important;
  padding: 0.2%;
  flex-direction: row !important;
}

.battle-cards {
  width: 50%;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  gap: 0.2rem;

  animation: shake-soft 0.8s infinite;
}

.battle-cards .wrapper {
  width: 100%;
  height: 60%;
}

.battle-cards .description {
  z-index: 3;
}

.mid-battle-div {
  height: 100%;
  width: 30%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.battle-div {
  height: 100%;
  width: 100%;
}

.info-battle-div {
  height: 48%;
  width: 25%;
}

.mid-battle-div .createchar-button {
  height: 25%;
  width: 60%;
}

.mid-battle-div .div {
  width: 100%;
  height: 50%;
}
