@import url('http://fonts.cdnfonts.com/css/nightmare-pills');

* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

@keyframes shake {
  0% {
    margin-top: 0;
  }
  25% {
    margin-top: 0.3px;
  }
  50% {
    margin-top: 0;
  }
  75% {
    margin-top: -0.3px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.mainscreen {
  height: 100vh;
  width: 100%;
  background: black;
  background-image: url('../public/images/background/background.gif');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

label {
  color: gold;
  font-family: 'NIGHTMARE PILLS', sans-serif;
  font-size: 0.85em;
  transition: 0.3s;
  animation: shake 0.5s infinite;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.main-div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  flex-direction: column;
  justify-content: space-between;
}

.div {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 6px;
  box-shadow: 0px 0px 2px 0.3px gold;
  background: rgba(128, 0, 128, 0.35);
  transition: 0.3s;
  animation: shake 1s infinite;
}

.div:hover {
  cursor: pointer;
  box-shadow: 0px 0px 1px 2.5px gold;
  transition: 0.3s;
  background: rgba(128, 0, 128, 0.4);
}

.div:hover label {
  cursor: pointer;
  font-size: 0.75em;
  transition: 0.3s;
  -webkit-text-stroke: 0.3px yellow;
}

.icon {
  height: 5vh;
  transition: 0.3s;
  filter: brightness(0) saturate(100%) invert(100%) sepia(38%) saturate(4816%)
    hue-rotate(356deg) brightness(102%) contrast(105%);
  opacity: 0.8;
  animation: shake 0s infinite;
}
