.write-name {
    width: 70%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 6px;
    box-shadow: 0px 0px 2px 0.3px gold;
    background: rgba(128, 0, 128, 0.35);
    transition: 0.3s;
    animation: shake 1s infinite;

    margin-bottom: 1%;
}

.write-name input {
    width: 50%;
    min-height: 10%;
    border-radius: 6px;
    
    animation: shake 1s infinite;
    transition: 0.3s;

    text-align: center;
    font-size: 1.3em;
    color: gold;
    font-family: 'Times New Roman', Times, serif;
    -webkit-text-stroke: 0.3px yellow;  

    background: rgba(128, 0, 128, 0.35);
    box-shadow: 0px 0px 2px 0.3px gold;
    outline: none;
    border:none;
}

.write-name input:focus {
    outline: none;
    box-shadow: 0px 0px 5px 1px gold;
}